In [1]:
import numpy as np 
import pandas as pd

In [3]:
data = pd.read_csv("train.csv")

In [5]:
df=pd.DataFrame(data)

In [7]:
df

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5
...,...,...,...,...,...,...,...,...,...,...,...,...
29446,Owner,0,0,3,BHK,2500.000000,1,1,"Shamshabad Road,Agra",27.140626,78.043277,45.0
29447,Owner,0,0,2,BHK,769.230769,1,1,"E3-108, Lake View Recidency,,Vapi",39.945409,-86.150721,16.0
29448,Dealer,0,0,2,BHK,1022.641509,1,1,"Ajmer Road,Jaipur",26.928785,75.828002,27.1
29449,Owner,0,0,2,BHK,927.079009,1,1,"Sholinganallur,Chennai",12.900150,80.227910,67.0
29450,Dealer,0,1,2,BHK,896.774194,1,1,"Jagatpura,Jaipur",26.832353,75.841749,27.8

In [11]:
import matplotlib.pyplot as plt

In [15]:
df.columns

Index(['POSTED_BY', 'UNDER_CONSTRUCTION', 'RERA', 'BHK_NO.', 'BHK_OR_RK',
       'SQUARE_FT', 'READY_TO_MOVE', 'RESALE', 'ADDRESS', 'LONGITUDE',
       'LATITUDE', 'TARGET(PRICE_IN_LACS)'],
      dtype='object')

In [34]:
x_train = df[["UNDER_CONSTRUCTION",'RERA', 'BHK_NO.','SQUARE_FT', 'READY_TO_MOVE', 'RESALE']]

In [35]:
df["SQUARE_FT"].max()

254545454.5

In [36]:
x_train

       UNDER_CONSTRUCTION  RERA  BHK_NO.    SQUARE_FT  READY_TO_MOVE  RESALE
0                       0     0        2  1300.236407              1       1
1                       0     0        2  1275.000000              1       1
2                       0     0        2   933.159722              1       1
3                       0     1        2   929.921143              1       1
4                       1     0        2   999.009247              0       1
...                   ...   ...      ...          ...            ...     ...
29446                   0     0        3  2500.000000              1       1
29447                   0     0        2   769.230769              1       1
29448                   0     0        2  1022.641509              1       1
29449                   0     0        2   927.079009              1       1
29450                   0     1        2   896.774194              1       1

[29451 rows x 6 columns]

In [37]:
x_train["SQUARE_FT"] = (x_train["SQUARE_FT"] - x_train["SQUARE_FT"].min()) / (x_train["SQUARE_FT"].max() - x_train["SQUARE_FT"].min())

<ipython-input-37-fdd63fc6a226>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train["SQUARE_FT"] = (x_train["SQUARE_FT"] - x_train["SQUARE_FT"].min()) / (x_train["SQUARE_FT"].max() - x_train["SQUARE_FT"].min())

In [38]:
x_train["SQUARE_FT"]

0        0.000005
1        0.000005
2        0.000004
3        0.000004
4        0.000004
           ...
29446    0.000010
29447    0.000003
29448    0.000004
29449    0.000004
29450    0.000004
Name: SQUARE_FT, Length: 29451, dtype: float64

In [80]:
# this measures how well the model is performing 
def comp_cost(x,y,w,b):
    
    m,n=x.shape
    cost=0
    for i in range(m):
        func = np.dot(x.iloc[i],w)+b
        cost+= (func - y[i])**2
    total_cost=(1/(2*m))*cost
    
    return total_cost

In [81]:
y_train = df['TARGET(PRICE_IN_LACS)']

In [82]:
w=np.arange(6)

In [83]:
w
b= 1

In [84]:
cost = comp_cost(x_train,y_train,w,b)

In [85]:
#we know in gradient descent w = w-alpha*diff(w) and b = b-alpha*diff(b)
#grad_comp finds the differentiated value for w and b

def grad_comp(x,y,w,b):
    m,n = x.shape
    error = 0
    sum_err=0
    dj_dw = np.zeros((n,))
    for i in range(m):
        func =np.dot(x.iloc[i],w)+b
        error = func - y[i]
        sum_err+=error
        db = sum_err/m
        for j in range(n):
            dw_j = error*x.iloc[i,j]
            dj_dw[j] += dw_j
        dw = dj_dw/m
        
        
        return db,dw

In [86]:
db,dw=grad_comp(x_train,y_train,w,b)

In [90]:
# function to perform gradient descent which finds the best w and b
def gradient_descent(x,y,w,b,comp_cost,grad_comp,alpha,num_iter):
    
    m,n = x.shape
    
    j_history=[]
    
    for i in range(num_iter):
        db,dw=grad_comp(x,y,w,b)
        
        w=w-(alpha*dw)
        b=b-(alpha*db)
        
        j_history.append(comp_cost(x,y,w,b))
        
        print(f"iteration : {i}  cost:{j_history[-1]}")
            
    return w,b,j_history

In [94]:
new_w,new_b,_ =gradient_descent(x_train,y_train,w,b,comp_cost,grad_comp,alpha=2000,num_iter=5)
#as my computer doesnt have a good gpu im inputting less no of iterations and giving a large alpha value 
#normally the alpha value should be less and the iterations should be more more the iterations better values for w and b

iteration : 0  cost:221437.2900024776
iteration : 1  cost:220216.45450572547
iteration : 2  cost:219627.34099972786
iteration : 3  cost:219332.41340436274
iteration : 4  cost:219181.5766291692

In [95]:
#new_w and new_b is the updated w and b which calculates the output closer to the original y value 
#so now we can use this w and b to predict the house price 
x=np.array([0,1,2,0.05,1,0])
y = np.dot(x,new_w)+new_b

In [96]:
y

43.89609238636123